@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Syne:wght@400..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg: #000;
  --surface: #000;
  --color-text-default: #fff;
  --color-text-muted: #938f8f;
  --font-body: "JetBrains Mono", monospace;
  --font-title: "Syne", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  font-family: var(--font-body);
}

@media (max-width: 768px) {
  body {
    padding-bottom: 56px;
  }
}
